@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

body {
    font-family:'Lato', serif;
    background: rgb(202, 202, 202);
    margin: 10px;
}



/* TITRE "NEW GAME" */
h1 {
    font-size: 35px;
}

#bouton {
    width: 30px;
}

header {
    margin: 25px;
}


/* TITRE JOUEURS */
h2 {
    font-size: 60px;
}


/* CORPS DU JEU */
main {
    margin: 50px;
}


/* SCORE TOTAL DU JOUEUR */
.score {
    font-size: 70px;
    color: rgb(204, 4, 4);
    padding: 15px;
    display: none;
}



/* ESPACE VIDE */ 
.vide {
    margin: 50px;
}


/* CURRENT */
h3 {
    color: black;
    font-size: 20px;
}

.card {
    padding: 15px;
    max-width: 190px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: rgb(209, 37, 37);
}

.card-text {
    font-size: 30px;
    color: white;
}

.active {
    font-weight: bold;
}

.winner {
    color: rgb(31, 211, 31);
}

.zero {
    background-color: rgb(65, 65, 65);
}